@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Playfair+Display:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height: 100%;
  background-color: black;
  @apply text-white;
}

#box {
  width: auto;
  height: 64px;
  display: grid;
  place-content: center;
  color: white;
  text-shadow: 0 1px 0 #000;
  
  --border-angle: 0turn;
  --main-bg: conic-gradient(
      from var(--border-angle),
      rgb(3, 1, 4),
      rgb(0, 0, 0) 5%,
      #112 60%,
      rgb(4, 1, 6) 95%
    );

    /* --main-bg: #000; */
  
  border: solid 3px transparent;
  border-radius: 0.5em;
  --gradient-border: conic-gradient(from var(--border-angle), transparent 25%, rgb(0, 251, 255), rgb(13, 250, 21) 99%, transparent);
  
  background: 
    var(--main-bg) padding-box,
    var(--gradient-border) border-box, 
    var(--main-bg) border-box;
  
  background-position: center center;
  animation: bg-spin 3s linear infinite;
}

@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}

#project {
  box-shadow: 0px 0px 10px 0px #53f1bf;
}

#box:hover {
  animation-play-state: paused;
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}

.icons {
  box-shadow: 0 4px 10px rgba(0, 255, 255, 0.5), 0 -2px 5px rgba(255, 255, 150, 0.5);
}